<section data-ng-controller="UserGoalsController" data-ng-init="findApproved()">
  <div class="row">
    <div class="large-12 columns">
      <p data-ng-hide="!goals.length">Swipe to commit or drop goal</p>
      <!-- Message if no goals have a rating above a 5 yet -->
      <h4 data-ng-show="!goals.length">There are no approved goals yet.</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">

      <div class="panel goal" data-ng-repeat="goal in goals" class="commit-goals">
        <div data-ng-swipe-left="reject(goal);" data-ng-swipe-right="commit(goal);">
          <h6>Goal</h6>
          <h4 data-ng-bind="goal.title"></h4>
          <small>
            Before: 
            <span data-ng-bind="goal.expires | amDateFormat:'MMMM Do'"></span>,  
            Rating: 
            <span data-ng-bind="goal.rating + '/10'"></span>
          </small>
          <hr />
          <p data-ng-bind="goal.content"></p>
          <p>
            <a class="left" data-ng-click="reject(goal);"><i class="fa fa-arrow-left"></i> Ignore</a>
            <a class="right" data-ng-click="commit(goal);">Commit <i class="fa fa-arrow-right"></i></a>
          </p>

          <p data-ng-show="goal.committed">
            <span data-ng-bind="goal.committed"></span> others already committed to this goal
          </p>
          <br />
        </div>
      </div>

    </div>
  </div>
</section>
<style type="text/css">
li.commit-goals {
  display: none;
}

li:nth-child(1).commit-goals {
  display: block;
}

</style>