<div class="row">
  <div class="large-12 columns">
    <section data-ng-controller="GoalsController">
      <div class="row">
        <div class="large-12 columns text-center">
          <h1>New Goal</h1>
        </div>
      </div>
      <div class="large-12 columns">
        <form name="goalForm" data-ng-submit="create()" novalidate>
          <fieldset>
            <div class="row">
              <div class="large-12 columns" ng-class="{ 'has-error': goalForm.title.$dirty && goalForm.title.$invalid }">
                <label for="title">Title
                  <input name="title" type="text" data-ng-model="title" id="title" placeholder="Title" required>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" ng-class="{ 'has-error': goalForm.expires.$dirty && goalForm.expires.$invalid }">
                <label for="expires">Date
                  <input name="expires" type="date" data-ng-model="expires" id="expires" required>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns" ng-class="{ 'has-error': goalForm.content.$dirty && goalForm.content.$invalid }">
                <label for="content">Content
                  <textarea name="content" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content" required></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <input type="submit" class="button">
              </div>
            </div>
            <div class="row">
              <div data-ng-show="error" class="alert-box alert">
                <strong data-ng-bind="error"></strong>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>