<div class="row">
  <section data-ng-controller="GoalsController">
    <div class="small-12 medium-6 medium-centered large-4 columns panel">
      <form name="goalForm" data-ng-submit="create()" novalidate>

        <div class="row">
          <div class="large-12 columns" ng-class="{ 'has-error': goalForm.title.$dirty && goalForm.title.$invalid }">
            <br />
            <label for="title">Title
              <input class="custom-input-class" name="title" type="text" data-ng-model="title" id="title" placeholder="Title" required>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" ng-class="{ 'has-error': goalForm.expires.$dirty && goalForm.expires.$invalid }">
            <label for="expires">Date
              <input name="expires" type="date" date-in-future data-ng-model="expires" id="expires" placeholder="Date" required>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" ng-class="{ 'has-error': goalForm.content.$dirty && goalForm.content.$invalid }">
            <label for="content">Content
              <textarea name="content" data-ng-model="content" id="content" cols="30" rows="7" placeholder="Content" required></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div data-ng-show="error" class="alert-box alert">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <input type="submit" class="expand button">
          </div>
        </div>
      </form>
    </div>
  </section>
</div>