<section data-ng-controller="GoalsController">
  <div class="top-breadcrumbs">
    <div class="row">
      <div class="large-12 columns">
        Create goal
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns panel">
      <a data-ng-click="information = !information"><i class="fa fa-info"></i></a>
      <a data-ng-href="#!/goals" class="right"><i class="fa fa-times fa-lg"></i></a>
      <div data-ng-show="information">
        <p>Scientific literature indicates that setting goals is a major source of success (Locke e.a). For you this means that you can pass this exam faster and more effectively, up to 50%.</p>
        <p>The key is to make your goals <b>SMART</b>: <b>S</b>pecific, <b>M</b>easurable, <b>A</b>ttainable, <b>R</b>ealistic and <b>T</b>ime-bound.</p>
      </div>
      <form name="goalForm" data-ng-submit="create()" novalidate>
        <div class="row">
          <div class="large-12 columns" ng-class="{ 'has-error': goalForm.title.$dirty && goalForm.title.$invalid }">
            <label for="title">Goal
              <input class="custom-input-class" name="title" type="text" data-ng-model="title" id="title" placeholder="Title" required>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns" ng-class="{ 'has-error': goalForm.expires.$dirty && goalForm.expires.$invalid }">
            <label for="expires">Deadline
              <input name="expires" type="date" date-in-future data-ng-model="expires" id="expires" placeholder="Deadline" date-field required>
            </label>
          </div>
        </div>
        <div class="row">
          <div data-ng-show="error" class="alert-box alert">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <p>
              <div class="switch small">
                <input id="private" data-ng-model="private" type="checkbox">
                <label for="private">Public/private mode</label>
                <span>{{ private ? 'private' : 'public' }}</span>
              </div>
            </p>
            <p class="text-center"><i class="fa fa-spinner fa-spin" ng-show="spinner"></i></p>
            <input type="submit" value="Create Goal" class="expand button" data-ng-disabled="spinner">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
