<section data-ng-controller="UserGoalsController" data-ng-init="findOne()">
  <div class="top-breadcrumbs">
    <div class="row">
      <div class="large-12 columns">
        Edit '<span data-ng-bind="userGoal.goal.title"></span>'
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="goal panel">
        <h6>Goal</h6>
        <h4 data-ng-show="userGoal.status === 'aborted'" class="alert">This goal is aborted</h4>
        <h4 data-ng-show="checkExpired(userGoal.goal.expires)" class="alert">Expired</h4>
        <h4 data-ng-bind="userGoal.goal.title" data-ng-class="{ alert: userGoal.status === 'aborted' }"></h4>
        <small data-ng-bind="userGoal.goal.expires | amDateFormat:'MMMM Do YYYY'"></small>
        <hr />
        <p>
          <tags-input data-ng-model="userGoal.tags" on-tag-added="addTag($tag)"></tags-input>
        </p>
        <hr />
        <a class="left" data-ng-click="abort(userGoal);" data-ng-class="{disabled: spinner}"><i class="fa fa-trash fa-2x"></i> <small>Delete goal</small></a>
        <a class="right" data-ng-click="finish(userGoal);"><i class="fa fa-check fa-2x" style="color:#4CBB17;"></i> <small>Finished goal</small></a>
        <br /><br />
      </div>
      <div class="goal panel">
        <!-- Subgoals -->
        <div class="row">
          <div class="large-12 columns">
            <h5 class="subheader">Subgoals</h5>
            <p>Create sub goals below to divide your goal in smaller parts. Set a subgoal with a deadline.</p>
            <a class="tiny secondary button" ng-click="addSubgoal();">Add subgoal</a>
          </div>
          <div class="large-12 columns" ng-repeat="subgoal in userGoal.subgoals">
            <div class="row">
              <div class="large-3 columns">
                <a data-ng-click="finishSubgoal(goal);"><i class="fa fa-check fa-2x" style="color:#4CBB17;"></i></a>
              </div>
              <div class="large-6 columns">
                <input name="subgoalContent" type="text" data-ng-model="subgoal.content" placeholder="Subgoal" required />
              </div>
              <div class="large-3 columns">
                <input name="subgoalExpires" type="date" data-ng-model="subgoal.expires" placeholder="Deadline" date-in-future date-field data-ng-options="{allowInvalid: true}" required  data-ng-blur="save()"/>
              </div>
            </div>
          </div>
        </div>
        <p>
          <div class="button right" data-ng-click="save()" data-ng-class="{ disabled: userGoal.status === 'aborted', disabled: checkExpired(userGoal.goal.expires) }" >Save <i class="fa fa-spinner fa-spin" ng-show="spinner"></i></div>
        </p>
      </div>
    </div>
  </div>
</section>