<section data-ng-controller="GoalsController" data-ng-init="find()">
  <div class="row">
    <div class="columns large-12">
      <h1>Goals</h1>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <!-- Used bootstrap list for convenience, has to change this to custom implementation -->
      <a data-ng-repeat="goal in goals" data-ng-href="#!/goals/{{goal._id}}">
        <div class="panel">
          <small>
            Created on
            <span data-ng-bind="goal.created | amDateFormat:'MMMM Do YYYY'"></span>
            by
            <span data-ng-bind="goal.creator.displayName"></span>
          </small>
          <h4 data-ng-bind="goal.title"></h4>
          <p data-ng-bind="goal.content"></p>
        </div>
      </a>
    </div>
    <div class="alert-box warning text-center" data-ng-if="goals.$resolved && !goals.length">
      No goals yet, why don't you <a href="/#!/goals/create">create one</a>?
    </div>
  </div>
</section>