<section data-ng-controller="UserGoalsController" data-ng-init="find()">

  <p data-ng-show="userGoals.length">Drag and drop goals on each other to group them.</p>
  <p data-ng-hide="userGoals.length">Not committed to goals yet.</p>

  <div class="row goals">
    <a href="#!/goals/create"><i class="fa fa-plus-square-o fa-5x"></i></a>
    <div class="small-12 medium-6 large-4 end columns" data-ng-repeat="userGoal in userGoals | orderBy: userGoal.goal.expires">
     
        <div  class="noselect panel" ng-drag="true" ng-drag-data="$index" ng-drop="true" ng-drop-success="onDropComplete($data, $index);">
          <h4 data-ng-show="checkExpired(userGoal.goal.expires)" class="alert">Expired</h4>
          <h3 class="subheader" data-ng-bind="userGoal.goal.title"></h3>
          <h5>Expires {{ userGoal.goal.expires | amDateFormat:'MMMM Do YYYY' }}</h5>
          <a data-ng-href="#!/goals/grouped/{{userGoal.group}}"><small class="inline" data-ng-bind="userGoal.grouped | addPlus"></small></a>
          <p data-ng-bind="userGoal.goal.content"></p>
          <p><a data-ng-href="#!/goal/committed/{{userGoal._id}}" data-ng-hide="userGoal.group"><i class="fa fa-folder-open"></i></a></p>
        </div>

    </div>
  </div>

</section>
<style type="text/css">
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>