<section data-ng-controller="UserGoalsController">
	<div class="top-breadcrumbs">
		<div class="row">
			<div class="large-12 columns">
				Your statistics
			</div>
		</div>
	</div>
  <div class="row">
    <div class="large-12 columns">
      <ul class="tabs">
        <li class="tab-title" ng-class="{active: activeTab === 'statistics'}"><a ng-click="openTab('statistics');">Statistics</a></li>
      </ul>
      <br />
    </div>
  </div>
	<div class="row" ng-if="activeTab === 'statistics'" data-ng-init="getStatistics()">
		<div class="small-12 medium-6 large-3 columns">
			<div class="goal panel">
				Total: {{ total }}
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="goal panel">
				Completed: {{ finished }}
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="goal panel">
				Aborted: {{ aborted }}
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="goal panel">
				Pending: {{ total - finished - aborted }}
			</div>
		</div>
		<div class="large-12 columns">
			<div class="goal panel">
				<canvas id="line" class="chart chart-line" data="data" labels="labels" options="options" legend="true" series="series"></canvas>
			</div>
		</div>
	</div>
</section>