<section data-ng-controller="GoalsController" data-ng-init="findOne()">
  <div class="top-breadcrumbs">
    <div class="row">
      <div class="large-12 columns">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="goal panel">
        <h6>Goal</h6>
        <h4 data-ng-bind="goal.title"></h4>
        <small>
          Posted on
          <span data-ng-bind="goal.created | amDateFormat:'MMMM Do YYYY'"></span>
          by
          <span data-ng-bind="goal.creator.displayName"></span>
        </small>
        <hr />
        <p data-ng-bind="goal.content"></p>
        <hr />
        <div class="row edit-goals">
          <div class="large-12 columns" data-ng-show="authentication.user._id == goal.creator._id">
            <a class="right" href="/#!/goals/{{goal._id}}/edit"><i class="fa fa-pencil-square-o"></i> Edit</a> <a class="right" data-ng-click="remove();"><i class="fa fa-trash-o"></i> Delete</a>
          </div>
        </div>
      
      <!-- Subgoals -->
      <div class="row" data-ng-hide="!goal.subgoals.length">
        <div class="large-12 columns">
          <h3>Subgoals:</h3>
        </div>
      </div>
      <div class="row" data-ng-repeat="subgoal in goal.subgoals" data-ng-hide="!goal.subgoals.length">
        <div class="large-12 columns">
          <span class="lead" data-ng-bind="subgoal.content"></span>
          <small class="right" data-ng-bind="subgoal.expires | amDateFormat:'MMMM Do YYYY'"></small>
        </div>
      </div>
    </div>
  </div>
</section>