<section data-ng-controller="GoalsController" data-ng-init="findOne()">
  <div class="row">
    <div class="columns large-12">
      <h1 data-ng-bind="goal.title"></h1>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <div class="pull-right" data-ng-show="authentication.user._id == goal.creator._id">
        <a class="button tiny" href="/#!/goals/{{goal._id}}/edit">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="button tiny" data-ng-click="remove();">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
      <small>
        <em class="text-muted">
          Posted on
          <span data-ng-bind="goal.created | amDateFormat:'MMMM Do YYYY'"></span>
          by
          <span data-ng-bind="goal.creator.displayName"></span>
        </em>
      </small>
      <p class="lead" data-ng-bind="goal.content"></p>
    </div>

    <!-- Subgoals -->
    <div class="row" data-ng-hide="!goal.subgoals.length">
      <div class="large-12 columns">
        <h3>Subgoals:</h3>
      </div>
    </div>
    <div class="row" data-ng-repeat="subgoal in goal.subgoals" data-ng-hide="!goal.subgoals.length">
      <div class="large-12 columns">
        <span class="lead" data-ng-bind="subgoal.content"></span>
        <small class="right" data-ng-bind="subgoal.expires"></small>
      </div>
    </div>
  </div>
</section>