<nav class="top-bar" data-topbar role="navigation" data-ng-controller="HeaderController" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/#!/">GoalSetting</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a data-ng-click="toggleCollapsibleMenu()"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- If not authenticated show signin and signup -->
    <ul class="right" data-ng-hide="authenticated">
      <li ui-route="/signup" ng-class="{active: $uiRoute}">
        <a href="/#!/signup">Sign Up</a>
      </li>
      <li ui-route="/signin" ng-class="{active: $uiRoute}">
        <a href="/#!/signin">Sign In</a>
      </li>
    </ul>

    <!-- If authenticated show profile etc -->
    <ul class="right" data-ng-show="authenticated">
      <li class="has-dropdown">
        <a href="#" onclick="event.preventDefault();">
          <span data-ng-bind="user.displayName"></span></b>
        </a>
        <ul class="dropdown">
          <li>
            <a href="/#!/settings/profile">Edit Profile</a>
          </li>
          <li data-ng-show="authenticated.provider === 'local'">
            <a href="/#!/settings/password">Change Password</a>
          </li>
          <li>
            <a href="/auth/signout">Signout</a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" ng-switch="item.menuItemType" data-ng-if="item.shouldRender(authenticated);" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
        <a ng-switch-when="dropdown" class="has-dropdown">
          <span data-ng-bind="item.title"></span>
        </a>
        <ul ng-switch-when="dropdown" class="dropdown">
          <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authenticated);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
            <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
      </li>
    </ul>
  </section>
</nav>