<div class="row">
  <div class="large-12 columns">
    <section data-ng-controller="AuthenticationController">
      <h3 class="large-12 columns text-center">Sign up</h3>
      <div class="large-6 columns large-centered">
        <form name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="large-12 columns">
              <label for="firstName">First Name</label>
              <input type="text" required id="firstName" name="firstName" data-ng-model="credentials.firstName" placeholder="First Name">
            </div>
            <div class="large-12 columns">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" data-ng-model="credentials.lastName" placeholder="Last Name">
            </div>
            <div class="large-12 columns">
              <label for="studentNumber">Student number</label>
              <input type="number" id="studentNumber" name="studentNumber" data-ng-model="credentials.studentNumber" placeholder="Student Number">
            </div>
            <div class="large-12 columns">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" data-ng-model="credentials.email" placeholder="Email">
            </div>
            <div class="large-12 columns">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
            </div>
            <div class="large-centered large-12 columns">
              <button type="submit" class="button">Sign up</button>&nbsp; or&nbsp;
              <a href="/#!/signin" class="show-signup">Sign in</a>
            </div>
            <div data-ng-show="error" class="alert-box alert">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>