<div class="row">
  <div class="large-12 columns">
    <section data-ng-controller="AuthenticationController">
      <h3 class="columns large-12 text-center">Sign in</h3>
      <div class="large-6 large-offset-3">
        <form data-ng-submit="signin()" class="signin" autocomplete="off">
          <fieldset>
            <div class="large-12 columns">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" data-ng-model="credentials.email" placeholder="E-mail">
            </div>
            <div class="large-12 columns">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
            </div>
            <div class="text-center large-12 columns">
              <button type="submit" class="button">Sign in</button>&nbsp; or&nbsp;
              <a href="/#!/signup">Sign up</a>
            </div>
            <div class="text-center large-12 columns">
              <a href="http://localhost:3000/login">UvA login</a>
            </div>
            <div class="forgot-password large-12 columns">
              <a href="/#!/password/forgot">Forgot your password?</a>
            </div>
            <div data-ng-show="error" class="alert-box alert large-12 columns">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>