<div class="row">
	<div class="small-12 medium-6 large-4 medium-centered columns panel">	

		<section data-ng-controller="PasswordController">
			<h3>Restore your password</h3>
			<p>Enter your account e-mail address.</p>

			<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">

				<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="E-mail">
				<button type="submit" class="expand button">Reset Password</button>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>

			</form>

		</section>
	</div>
</div>