<section data-ng-controller="AdminController">
  <div class="row">
    <div class="large-12 columns">
      <h1>Admin dashboard</h1>
      <div class="panel">
        <ul class="tabs">
          <li class="tab-title" ng-class="{active: activeTab === 'addTeachers'}"><a ng-click="openTab('addTeachers');">Teachers</a></li>
          <li class="tab-title" ng-class="{active: activeTab === 'addUsers'}"><a ng-click="openTab('addUsers');">Users</a></li>
        </ul>
        <div class="content" id="panel1" ng-if="activeTab === 'addTeachers'" data-ng-init="findTeachers()">
          <p>{{ teachers }}</p>
        </div>
        <div class="content" id="panel2" ng-if="activeTab === 'addUsers'" data-ng-init="findUsers()">
          <p>{{ users }}</p>
        </div>
      </div>
    </div>
  </div>
</section>