<div class="row">
  <div class="large-12 columns">
    <section data-ng-controller="SettingsController">
      <div class="row">
        <div class="large-12 columns"></div>
      </div>
      <h3 class="col-md-12 text-center">Change your password</h3>
      <div class="row">
        <div class="large-12 columns"></div>
      </div>
      <div class="large-6 large-centered columns">
        <form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
          <fieldset>
            <div class="row">
              <div class="large-12 columns">
                <label for="currentPassword">Current Password
                  <input type="password" id="currentPassword" name="currentPassword" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label for="newPassword">New Password
                  <input type="password" id="newPassword" name="newPassword" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label for="verifyPassword">Verify Password
                  <input type="password" id="verifyPassword" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <button type="submit" class="button">Save Password</button>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div data-ng-show="success" class="alert-box success">
                  <strong>Password Changed Successfully</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div data-ng-show="error" class="alert-box alert">
                  <strong data-ng-bind="error"></strong>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>